* {
    margin: 0px;
    padding: 0px;
	cursor: url('../Images/shoot7black.png') 25 25,auto;
}

body {
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#duck_walking {
    position: absolute;
    top: 150px;
    left: 600px;
    width: 400px;
    height: 400px;
}

#birds {
    position: absolute;
    left: 900px;
    top: 10px;
}

#gun {
    position: absolute;
    left: 700px;
    /* top: 590px; */
    top: 150px;
}

#form {
    position: absolute;
    left: 590px;
    top: 300px;
    text-align: center;
    border-radius: 25px;
    transition: all 3s linear;
}

#form:hover {
    transform: scale(1.2);
    box-shadow: lightsalmon 10px 10px 10px, lightsalmon -10px -10px 10px;
    padding: 10px;
    border: 2px solid lightcoral;
}

input {
    display: block;
    outline: none;
    border: none;
    cursor: text;
    text-align: start;
}
input[type="text"] {
    font-family: Poppins-Medium;
    font-size: 25px;
    line-height: 1.5;
    display: block;
    width: 250px;
    background: #e6e6e6;
    opacity: 0.4;
    /* background: transparent; */
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    touch-action: manipulation;
}

input[type="radio"] {
    display: inline-block;
    font-size: 30px;
    border: 2px solid black;
    margin: 22px 6px;
    cursor: default;
}

input[type="button"] {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    /* margin-left: 75px; */
    margin: 15px 75px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    outline: none !important;
    border: none;
    color: #333;
}

input[type="button"]:hover {
    background: #333;
    cursor: pointer;
    color: #fff;
}

.radiomark {
    font-family: Montserrat-Bold;
    font-size: 17px;
    margin: 5px;
    color: azure;
    cursor: default;
}

/*Style Bomb*/
.bomb {
    position: absolute;
    top: 0;
    width: 85px;
    height: 115px;
}

.bombAfter {
    width: 250px;
    height: 300px;
}
a{
    text-decoration: none;
}
.messageError{
    width: 390px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: red 10px 10px 10px,silver 10px 10px 20px inset,silver -10px -10px 20px inset;
    font: bold 20px tahoma;
    text-shadow: gray 3px 3px 3px;
    color: red;
    /*position: absolute;*/
    text-align: center;
    display: none;
    /*top: 30%;*/
    /*left: 33%;*/
}
#error{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
    /*background: black;*/
    z-index: 1;
    position: absolute;
}
